<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
    outline: 1px solid red;
}

body {
    
}

#banner {
    background-color: #04e504;
    position: relative; top: 300px;
    border: 1px solid black;
}

#siteName {
    font-family: "Sofia", sans-serif;
}

#left {
    background-image: url("images/victor-rosario-FdtgSFaXIII-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    position: relative; top: 1px;
    height: 800px;
    
}

#logo {
    width: 20px;
    height: 10px;
    padding: 0px;
    margin: 0px;
}

#right {
    width: 60%;
    background-color: #f60808;
    position: relative; left: 580px; 
}

#intro {
    position: relative; top: -650px; left: 60px;
    border: 1px solid black;
    width: 600px;
    font-size: 20px;;
=======
#banner {
    font-family: "Sofia", sans-serif;
}
#picture {
    background-image: url(./images/benjamin-suter-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}
#left {
    
}

#right {

>>>>>>> c80711ff477b996c92785d17f880a6632590ed04
}