@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Pacifico&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
    outline: 1px solid red;
}

body {
    
}

#banner {
    background-color: #04e5047b;
    position: relative; top: 200px;
    border: 1px solid black;
    height: 150px;
}

#siteName {
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    font-weight: 800;
    position: relative; left: 250px; top: 30px;
    width: 300px;
}

#left {
    background-image: url("images/victor-rosario-FdtgSFaXIII-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    position: relative; top: 1px;
    height: 800px;
}

#logo {
    width: 20px;
    height: 10px;
    padding: 0px;
    margin: 0px;
}

#right {
    width: 60%;
    background-color: #f608082a;
    position: relative; left: 580px; top: 1px;
}

#intro {
    position: relative; top: -650px; left: 60px;
    border: 1px solid black;
    width: 600px;
    font-size: 20px;;
} 

#form {
    width: 600px;
    position: relative; top: -500px;
}

#banner {
    font-family: "Sofia", sans-serif;
}

#picture {
    background-image: url(./images/benjamin-suter-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}
